body { background-color: #8788aa; color: #00023d; }
body { font-family: Verdana, Arial, sans-serif;}
h1 { font-family: Verdana, Arial, sans-serif;}
h2 { font-family: Verdana, Arial, sans-serif;}
h1 { background-color: #00023d; color: #f0f8ff; }
h2 { background-color: #00023d; color: #f0f8ff; }