body {font-family:Verdana, Arial, sans-serif;
    background-color: #1c1c54;
}
#wrapper { background-color: #636186; 
         color: #00023d;
         width: 80%;
         margin: auto;
         min-width: 850px;
         max-width: 1200px;} 
main { display: block;
     padding: 3em;
     background-color: #ffffff;
     color: #000000;} 
header { background-color: #8788aa;
      color: #00023d; 
      font-size: 150%; 
      padding: 10px 10px 10px 30px;
      background-image: url(IcyStare.jpg) ;
      background-repeat: no-repeat; }

h2 { color: #393663; 
   font-family: arial, sans-serif;}

#floatright { margin: 10px;
           float: right;}
	
nav ul { list-style-type: none;}
nav li {  display: inline; }
nav a  { text-decoration: none; 
       padding-right: 10px; 
       color: #ffffff }

ul { list-style-type: none; }
li { display: inline-block;
            padding-bottom: 10px;
            margin: 10px;
            text-align: center;
            font-family: Georgia, serif; }
            
form { background-color:#ffffff;
	   font-family: Arial, sans-serif;
       padding: 10px;
        float: center;}
label { float: center;
	    width: 100px; 
	    text-align: left; 
	    padding-right: 10px;
        margin-top: 10px;}
input, textarea { margin-top: 10px; 
                  display: block;} 
#mySubmit { margin-left: 110px; }

footer {font-size:70%;
    text-align: center;
    clear: right;
    background-color: #ffffff;
    padding-bottom:20px;}